{% extends "./root.jinja2" %}
{% block title %} Authorize {% endblock %}
{% block card_title %}
Sign in to {{ client_name }} with your {{server_name}} account
{% endblock %} 
{% block card_content %}
<table class="h6 w-100">
    <tbody class="border-top-1 border-bottom-1">
        {% for scope in scope_text %}
            <tr class="border-top-1 border-bottom-1">
                <td class="p-2 py-4">{{ scope.name }}</td>
                <td class="p-2">
                    {% if scope.has_access %}
                        <i class="fas fa-2x fa-check-circle text-success"></i>
                    {% else %}
                        <i class="fas fa-2x fa-times-circle text-danger"></i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<form action="/oauth/authorize" method="POST">
    <input type="hidden" name="confirm" value="yes">
    <input type="hidden" name="state" value="{{state}}">
    <button type="submit" class="btn btn-secondary w-100 h4 bg-danger text-light m-0 border-0 shadow mt-4" style="cursor: pointer;">Confirm</button>
</form>
{% endblock %}