{% extends "./root.jinja2" %}
{% block title %} Reset your password {% endblock %}
{% block card_title %} Reset your password {% endblock %}
{% block card_content %}
<form action="/email/reset" method="POST">
    <table class="h6 w-100">
        <tbody class="border-top-1 border-bottom-1">
            <small class="text-red">{{errortext}}</small>
            <span style="display: none">{{errormsg}}</span>
            <tr class="border-top-1 border-bottom-1">
                <td class="p-2 py-4">
                    <div class="form-group">
                        <label for="newpassInput">New Password</label>
                        <input type="password" name="newpass" class="form-control" id="newpassInput" placeholder="New password" />
                    </div>
                </td>
            </tr>
            <tr class="border-top-1 border-bottom-1">
                <td class="p-2 py-4">
                    <div class="form-group">
                        <label for="passconfInput">Confirm Password</label>
                        <input type="password" name="passconf" class="form-control" id="passconfInput" placeholder="Confirm password" />
                    </div>
                </td>
            </tr>
            <input type="hidden" name="reset_token" value="{{reset_token}}">
        </tbody>
    </table>
    <button type="submit" class="btn btn-secondary w-100 h4 bg-danger text-light m-0 border-0 shadow mt-4" style="cursor: pointer;">
        Submit
    </button>
</form>
{% endblock %}