{% extends "./root.jinja2" %}
{% block title %} Forgot your password? {% endblock %}
{% block card_title %} Forgot your password? {% endblock %}
{% block card_content %}
<form action="/forgot" method="POST">
    <table class="h6 w-100">
        <tbody class="border-top-1 border-bottom-1">
            <small class="text-red">{{errortext}}</small>
            <tr class="border-top-1 border-bottom-1">
                <td class="p-2 py-4">
                    <div class="form-group">
                        <label for="emailInput">Email</label>
                        <input type="email" name="email" class="form-control" id="emailInput" placeholder="Enter email" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-secondary w-100 h4 bg-danger text-light m-0 border-0 shadow mt-4" style="cursor: pointer;">
        Submit
    </button>
</form>
{% endblock %}