{% extends "./root.jinja2" %}
{% block title %} Password reset email sent {% endblock %}
{% block card_title %} Done! {% endblock %}
{% block card_content %}
<table class="h6 w-100">
    <tbody class="border-top-1 border-bottom-1">
        <tr class="border-top-1 border-bottom-1">
            <td class="p-2 py-4">
                <div class="text-center">
                    Please check your email for instructions
                </div>
            </td>
        </tr>

        <tr class="border-top-1 border-bottom-1">
            <td class="p-2 py-4">
                <small>Didn't receive the email? Make sure you check your Spam or Junk folders</small>
            </td>
        </tr>
    </tbody>
</table>
<a href="/" class="btn btn-secondary w-100 h4 bg-danger text-light m-0 border-0 shadow mt-4" style="cursor: pointer;">
    Home
</a>
{% endblock %}