<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{{static_url}}/static/css/main.css">

    <title>{{server_title_name}} - {% block title %}{% endblock %}</title>
</head>

<body class="m-0 h-100">
    <div class="background-image"> </div>
    <div class="content py-5 h-100" style="overflow: scroll;">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-4 h-100">
                    <span class="d-block bottom-align-text text-dark">
                        <small>Image © 2010 by
                            <a href="https://www.flickr.com/photos/jlascar/">
                                <u class="text-dark text-underline">Jorge Láscar</u>
                            </a>
                        </small>
                    </span>
                </div>
                <div class="col-md-4 h-100">
                    <div class="card center-vertically bg-translucent border-0">
                        <div class="card-body">
                            <div class="text-center h3 pt-2 pb-5 text-dark m-0">{% block card_title %} {% endblock %}
                            </div>
                            {% block card_content %} {% endblock %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12"></div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous">
    </script>
    <script src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
</body>

</html>