{% extends "./root.jinja2" %}
{% block title %} Sign up {% endblock %}
{% block card_title %} Sign up {% endblock %}
{% block card_content %}
<form action="/signup" method="POST">
    <table class="h6 w-100">
        <tbody class="border-top-1 border-bottom-1">
            <tr class="border-top-1 border-bottom-1">
                <td class="p-2 py-4">
                    <div class="form-group">
                        <label for="emailInput">Email</label>
                        <input type="email" name="email" class="form-control" id="emailInput" placeholder="alan.turing@example.com" />
                    </div>
                    <div class="form-group">
                        <label for="passwordInput">Password</label>
                        <input type="password" name="password" class="form-control" id="passwordInput" placeholder="P@$$w0rD" />
                    </div>
                    <div class="form-group">
                        <label for="passconfInput">Password Confirmation</label>
                        <input type="password" name="passconf" class="form-control" id="passconfInput" placeholder="P@$$w0rD" />
                    </div>
                    <div class="form-group">
                        <label for="unameInput">Username</label>
                        <input type="text" name="uname" class="form-control" id="unameInput" placeholder="a.turing" />
                    </div>
                    <div class="form-group">
                        <label for="fnameInput">First Name</label>
                        <input type="text" name="fname" class="form-control" id="fnameInput" placeholder="Alan" />
                    </div>
                    <div class="form-group">
                        <label for="lnameInput">Last Name</label>
                        <input type="text" name="lname" class="form-control" id="lnameInput" placeholder="Turing" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-secondary w-100 h4 bg-danger text-light m-0 border-0 shadow mt-4" style="cursor: pointer;">
        Sign up
    </button>
</form>
{% endblock %}