{% extends "./root.jinja2" %}
{% block title %} Sign in with a one-time code {% endblock %}
{% block card_title %} Enter a code from your authenticator application {% endblock %}
{% block card_content %}
<form action="/signin/tfa/otp" method="POST">
    <table class="h6 w-100">
        <tbody class="border-top-1 border-bottom-1">
            <small class="text-red">{{errortext}}</small>
            <tr class="border-top-1 border-bottom-1">
                <td class="p-2 py-4">
                    <div class="form-group">
                        <label for="otpInput">OTP Code</label>
                        <input type="number" name="data" maxlength="6" class="form-control" id="otpInput" placeholder="Enter an OTP code" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <input type="hidden" name="tfa_type" value="otp" />
    <button type="submit" class="btn btn-secondary w-100 h4 bg-danger text-light m-0 border-0 shadow mt-4" style="cursor: pointer;">
        Submit
    </button>
</form>
{% endblock %}