{% extends "./root.jinja2" %}
{% block title %} Sign in with an SMS code {% endblock %}
{% block card_title %} Enter the code sent to your phone {% endblock %}
{% block card_content %}
<form action="/api/auth/signin/tfa/enable/sms/confirm" method="POST">
    <table class="h6 w-100">
        <tbody class="border-top-1 border-bottom-1">
            <small class="text-red">{{errortext}}</small>

            <tr class="border-top-1 border-bottom-1">
                <td class="p-2 py-4">
                    <div class="form-group">
                        <label for="smsInput">Code</label>
                        <input type="number" name="data" maxlength="6" class="form-control" id="smsInput" placeholder="Enter the code we just sent you" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <input type="hidden" name="tfa_type" value="sms" />
    <button type="submit" class="btn btn-secondary w-100 h4 bg-danger text-light m-0 border-0 shadow mt-4" style="cursor: pointer;">
        Submit
    </button>
</form>
{% endblock %}