{% extends "./root.jinja2" %}
{% block title %} Sign in with an SMS code {% endblock %}
{% block card_title %} Enter your phone number {% endblock %}
{% block card_content %}
<form action="/api/auth/signin/tfa/enable/sms" method="POST">
    <style>
    .iti__flag {background-image: url("{{static_url}}/static/lib/intl-tel-input/img/flags.png");}

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .iti__flag {background-image: url("{{static_url}}/static/lib/intl-tel-input/img/flags@2x.png");}
    }
    </style>
    <link rel="stylesheet" href="{{static_url}}/static/lib/intl-tel-input/css/intlTelInput.min.css">
    <table class="h6 w-100">
        <tbody class="border-top-1 border-bottom-1">
            <small class="text-red">{{errortext}}</small>

            <tr class="border-top-1 border-bottom-1">
                <td class="p-2 py-4">
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="tel" class="form-control" id="phone">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <input type="hidden" name="tfa_type" value="sms" />
    <button type="submit" class="btn btn-secondary w-100 h4 bg-danger text-light m-0 border-0 shadow mt-4" style="cursor: pointer;">
        Submit
    </button>
    <script src="{{static_url}}/static/lib/intl-tel-input/js/intlTelInput.min.js"></script>
    <script>
        var input = document.querySelector("#phone");
        window.intlTelInput(input, {
            // any initialisation options go here
            separateDialCode: true,
            hiddenInput: "phone_number",
            autoPlaceholder: "aggressive",
            utilsScript: "{{static_url}}/static/lib/intl-tel-input/js/utils.js"
        });
    </script>
</form>
{% endblock %}