{% extends "./root.jinja2" %}
{% block title %} Sign in with a one-time code {% endblock %}
{% block card_title %} Scan this and enter a code {% endblock %}
{% block card_content %}
<form action="/api/auth/signin/tfa/enable/otp/confirm" method="POST">
    <table class="h6 w-100">
        <tbody class="border-top-1 border-bottom-1">
            <small class="text-red">{{errortext}}</small>

            <div id="qrcode" class="qrcode">
            </div>
            <div class="border-top-1 qrcode-secret text-center">
            Secret:
            {{tfa_secret}}</div>

            <tr class="border-top-1 border-bottom-1">
                <td class="p-2 py-4">
                    <div class="form-group">
                        <label for="otpInput">OTP Code</label>
                        <input type="number" name="data" maxlength="6" class="form-control" id="otpInput" placeholder="Enter an OTP code" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <input type="hidden" name="tfa_type" value="otp" />
    <button type="submit" class="btn btn-secondary w-100 h4 bg-danger text-light m-0 border-0 shadow mt-4" style="cursor: pointer;">
        Submit
    </button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.qrcode.min.js"></script>
    <script>
        $('#qrcode').qrcode('{{tfa_qrcode |safe}}');
    </script>
</form>
{% endblock %}