* {
    border-radius: 0 !important;
}

html {
    height: 100%;
    --translucent-bg-color: rgba(250, 250, 250, 0.9);
}

.text-dark {
    color: #555 !important;
}

.text-red {
    color: #aa0000 !important;
}

.text-center {
    text-align: center;
}

.forgot-pass-text {
    text-align: center;
    font-size: .8em;
}

.forgot-pass-text a {
    color: #00307d !important;
}

.bg-translucent {
    background-color: var(--translucent-bg-color);
}

.bg-none {
    background-color: rgba(0, 0, 0, 0) !important;
}

.border-bottom-1 {
    border-bottom: 1px !important;
    border-color: #444 !important;
}

.center-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-group input {
    background: var(--translucent-bg-color);
}

.form-group input:focus {
    background: var(--translucent-bg-color);
}

.shadow {
    box-shadow: 0 0 15px 8px #ddd;
}

.btn {
    background-color: #db0000 !important;
}

.btn:hover {
    background-color: #cb0000 !important;
}

.background-image {
    overflow: hidden;
    margin: -2% -2% -2% -2%;
    background-image: url("/static/img/bg.jpg");
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(10px);
    /* Safari 6.0 - 9.0 */
    filter: blur(10px);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    width: 110%;
    height: 110%;
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
}

.border-bottom-1 {
    border-bottom: 1px solid black !important;
}

.border-top-1 {
    border-top: 1px solid black !important;
}

.border-1 {
    border: 1px solid black !important;
}

.bottom-align-text {
    position: absolute;
    bottom: 0;
    left: 0;
}

.qrcode * {
    display: block;
    margin: auto;
}

.qrcode-secret {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    font-size: 0.5em;
}